<footer  class="site-footer footer pl-5 pr-5" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-577" data-genuitec-path="/Dost_CCE/WebRoot/jsp/common/NewDostfooter.jsp">
    <div class="container">
      <div class="row align-items-start justify-content-between mb-3">
        <div class="col-sm-3" style="color:white">
          <!--  Copyright &copy; 2021 DOST.&nbsp; --> Copyright &copy; <span id='ac_year'></span> DOST.&nbsp; <br /> All Rights Reserved <br />
          <br />
          <p>DOST Help Desk: Ph: - 040-23120416. <br /> Call Time: 6:00 A.M to 8.00 P.M on working days. </p>
        </div>
           <div class="col-4 col-lg-4">
          <!--         <h5 class='footer-title'>Site Map</h5>
   --> <p>Designed & Developed by : <img src="https://dost.cgg.gov.in:443/dost_template/img/cgg_logo.png" style="height: 30px;width: 180px;" />
          <br />Content owned, maintained and updated by DOST , <br />Government Of Telangana </p>
          <!-- <li><a target="_blank" href='index.html'> Home</a></li><li><a target="_blank" href='aboutus.html'>About Us</a></li><li><a target="_blank" href='faqs.html'>FAQs</a></li><li><a target="_blank" href='gos.html'>GO's and Acts</a></li></ul> -->
          <span style="padding-left:130px">Active Users(Sessions) : <span style="font-family: 'DS-Digital';font-weight: bold;font-style: italic;font-size: 25px;">282</span>
          </span>
        </div>
        <div class="col-4 col-lg-2" style="color: white"> Other Links
          <hr>
          <ul>
            <li>
              <a href="https://dost.cgg.gov.in:4/documents/BdeskPrivacyPolicy.pdf" target="_blank">Bill Desk Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-lg-2">
          <h5 class='footer-title'>Follow Us </h5>
          <img style="width:40px;height:40px;cursor:pointer;" src="https://dost.cgg.gov.in:443/dost_template/img/icons-fb.png" alt="facebook" title="facebook" onclick="window.open('https://facebook.com/dost.telangana')">
          <img style="width:40px;height:40px;cursor:pointer;" src="https://dost.cgg.gov.in:443/dost_template/img/icons-twitter.png" alt="twitter" title="twitter" onclick="window.open('https://twitter.com/dost_telangana')">
          <img style="width:35px;height:40px;cursor:pointer;" src="https://dost.cgg.gov.in:443/dost_template/img/icons-youtube.png" alt="youtube" title="youtube" onclick="window.open('https://youtube.com/@dost_telangana')">
        </div>
      </div>
    </div>
    <br>
</footer> 

